#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-title {
  text-shadow: blue 1px 2px 1px;
}

.bug {
  @apply bg-green-600;
}

.dragon {
  @apply bg-teal-400;
}

.electric {
  @apply bg-yellow-400;
}

.fairy {
  @apply bg-red-300;
}

.fighting {
  @apply bg-amber-400;
}

.ghost {
  @apply bg-indigo-500;
}

.grass {
  @apply bg-green-400;
}

.ground {
  @apply bg-amber-800;
}

.ice {
  @apply bg-cyan-300;
}

.poison {
  @apply bg-indigo-400;
}

.fire {
  @apply bg-orange-400;
}

.flying {
  @apply bg-blue-300;
}

.normal {
  @apply bg-slate-400;
}

.psychic {
  @apply bg-violet-500
}

.rock {
  @apply bg-slate-400;
}

.steel {
  @apply bg-slate-300;
}

.water {
  @apply bg-blue-400;
}
